@media (max-width: 1200px) {
  .nav-item { margin-right: 30px; }

  .tm-page-right {
      padding-left: 30px;
      padding-right: 30px;
  }
}

@media (max-width: 992px) {    
  .tm-nav {
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      color: white;
      top: 44px;
      right: 4px;
  }

  .navbar-expand-lg .navbar-nav .tm-nav-link {
      color: white;
      font-size: 1.1rem;
      padding: 13px 20px;
  }

  .nav-item { margin-right: 0; }

  .nav-item.active .tm-nav-link,
  .nav-item:hover .tm-nav-link {
      color: #9CC;
  }

  .tm-content { margin-top: 20px; }
  .tm-site-footer { padding-top: 40px; }
  .tm-col-left { width: 40%; }

  .tm-col-right {
      width: 60%;
      padding-left: 100px;
      padding-right: 30px;
  }
  
  .tm-col-footer { padding-left: 0; }
}

@media (max-width: 768px) {
  .tm-row { flex-direction: column; }

  .tm-col-left,
  .tm-col-right,
  .tm-bg-left,
  .tm-bg-right {
      width: 100%;
  }

  #tm-main-nav {
      position: fixed;
      top: 50px;
      right: 40px;
      padding-bottom: 0;
  }  
  
  .tm-bg { flex-direction: column; }

  .tm-bg-left {
      height: 200px;        
      border-bottom: 50px solid rgba(0,0,0,0.5);
      border-right: 0;
      border-top: 0;
  }

  .tm-bg-right { height: calc(100% - 200px); }

  .tm-bg-controls-wrapper {
      margin-left: 0;
      margin-top: 50px;
  }

  .tm-content {
      max-height: none;
      margin-top: 40px;
  }

  .tm-col-right {
      padding-top: 40px;
      padding-left: 30px;
  }

  .tm-col-footer {
      padding-left: 10px;
      padding-right: 10px;
  }
}

@media (max-width: 460px) {
  .tm-logo { margin-right: 15px; }
  .tm-sitename { font-size: 1.8rem; }
  .tm-slogon { font-size: 0.8rem; }
}

@media (max-width: 450px), (min-width: 768px) and (max-width: 830px), (min-width: 992px) and (max-width: 1040px) {
  .tm-service-media { flex-direction: column; }
  .tm-service-media-img-l { flex-direction: column-reverse; }
  .tm-service-text { margin-top: 20px; }
  .tm-service-img { margin-right: 0; }
  .tm-service-img-r { margin-left: 0; }
}
.container {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
  }
  
  .banner {
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 500px;
    background-image: url(https://unsplash.com/photos/UQaht0LBiYc/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjc4NjQxNjQ5&force=true);
    background-size: cover;
    background-position: top center;
  }
  .bannerContent h1{  
    margin-bottom: 50px;
    font-size: 50px;
    font-family: lucida;
    color: #fff;
    font-weight: bold;
  }
  .bannerContent p{
    font-family: lucida;
    color: #fff;
  }
  
  .banner p {
    font-size: 16px;
    color: #fff;
  }
  .about h3 {
    margin-bottom: 10px;
    font-family: lucida;
  }
  .about p {
    margin-bottom: 10px;
    font-size: 14px;
    font-family: lucida;
  }
  .pizza, .pasta, .frenchries{
    width: 300px;
    height: 200px;
    float:left;
    margin: 10px ;
  }
  .pizza img, .pasta img, .frenchries img{
    width: 300px;
    height: 200px;  
    margin: 10px ;
    }
